{{#.}}
<li class="item-content">
	{{!-- <div class="item-media" >
		<img src="../../img/newIcon/pic.png" alt="pic" width="20">
	</div> --}}
	<div class="item-inner">
		<div class="item-title-row">
			
			<div class="item-title">
				{{!-- <img style="width: 20px;height:20px;background-color:#83312B;" src="../../img/newIcon/tab_mine_highlight.png" alt="pic" /> --}}
				{{!-- <span>pic</span> --}}
				<span class="com-username" >{{userName}}</span>
				</div>
			<div class="item-after com-day">{{ts}}</div>
		</div>
		<div class="item-text" >
			<div class="com-text" >{{content}}
			
			</div>
			<div style="margin-top:5px;">
				{{!-- <span class="com-time" style="float: left;color:#999;font-size: 12px;margin-right: 5px;">刚刚</span>
				<span style="color:#333333;font-size:11px;float:left;">回复</span> --}}
				{{!-- <span style="color:#333333;font-size:11px;float:right;">删除</span> --}}
			</div>
		</div>
	</div>
</li>
{{/.}}