{{#.}}
<li class="item-content" data-userId = "{{userId}}" data-userName = "{{userName}}" data-id = "{{id}}">
	<div class="item-media"><i class="icon icon-assessment"></i></div>
	<div class="item-inner">
		<div class="item-title">{{userName}}</div>
	</div>
</li>
{{/.}}