{{#.}}
<li class="swipeout">
  <div class="swipeout-content item-content hL" data-mid = {{id}}>
    <div class="item-media"><img src='img/icon/icon-discuss.png' style="height:32px;width:32px"></div>
    <div class="item-inner">{{meetingTitle}}</div>
  </div>
  <div class="swipeout-actions-right">
    <a href="#" class="swipeout-delete" data-mid = {{id}}>删除</a>
  </div>
</li>
{{/.}}