{{#.}}
	<li style="height:50px">
		<a href="#" class="item-link item-content assessLeaderContent" data-id="{{deptId}}" data-name="{{deptName}}">
			<div class="item-inner">
				<div class="item-title-row" style="background-image:none;">
					<div class="item-title kpi-a-list-item-title col-50 getDeptName" style='margin-left:30px'>{{deptName}}</div>
					<div class="item-title kpi-a-list-item-title col-50" style="float:right" style='margin-right:20px'>{{unCompletedTotal}}</div>
				</div>
			</div>
		</a>
	</li>
{{/.}}
<div class="infinite-scroll-preloader">
    <div class="preloader" style="left:35%;margin-left:0px;margin-top:0px;position:absolute;"></div>
    <div style="position: absolute;left: 45%;font-size: 17px;">加载中...</div>
 </div>
