{{#.}}
	<li>
		<a href="#" class="item-link item-content signPeopleContent" data-id="{{id}}">
			<div class="item-media media-avater">
				<img src="img/avater.png" />
			</div>
			<div class="item-inner">
				<div class="item-title-row">
					<div class="item-title">{{name}}</div>
				</div>
				<div class="signImg"></div>
				<div class="item-subtitle signSubtitle"style="padding-top: 5px;">
					<span class="">打卡地址：{{place}}</span>
				</div>
				<div class="item-subtitle signSubtitle">
					<span class="">打卡时间：{{ts}}</span>
				</div>
			</div>
		</a>
	</li>
{{/.}}