{{#.}}
<li class="item-content taskScore-item" data-userid = "{{userId}}">
	<div class="item-inner">
		<div class="item-title label">{{userName}}:</div>
		<div class="item-input">
			<input type="number" class="Scores" id="score" name="score" placeholder="输入对应的分数" />
		</div>
	</div>
</li>
{{/.}}