{{#compare role '>' -1}}
<div class="row no-gutter appList">
</div>
{{else}}
<div class="assessLogin"style="padding: -webkit-calc(50% + 44px) 10px; padding: calc(50% + 44px) 10px;">应用页面需要登录您的账号方可查看<br />点击登录</div>
{{/compare}}