<li>
  <div class="item-content">
    <div class="item-inner"> 
      <div class="item-title label" style="font-size: 15px;">原密码：</div>
      <div class="item-input">
        <input type="password" id="oldPwd" name="oldPwd" placeholder="输入原密码"/>
      </div>
    </div>
  </div>
</li>
<li>
  <div class="item-content">
    <div class="item-inner"> 
      <div class="item-title label" style="font-size: 15px;">新密码：</div>
      <div class="item-input">
        <input type="password" id="newPwd" name="newPwd" placeholder="输入新密码"/>
      </div>
    </div>
  </div>
	</li>
	<li>
  <div class="item-content">
    <div class="item-inner"> 
      <div class="item-title label" style="font-size: 15px;">再次输入：</div>
      <div class="item-input">
        <input type="password" id="againPwd" name="againPwd" placeholder="再次输入新密码"/>
      </div>
    </div>
  </div>
</li>