{{#.}}
<div data-id="1" class="examAnswerTopic" style="margin-bottom: 50px; position: absolute; display: block; width: 352px;">
	<div class="examAnswerTitle">1、中国的面积有多大？（2分）</div>
	<div data-id="1" class="examAnswerContent">
		<div></div>
		<span>A. 930万平方千米</span>
	</div>
	<div class="examAnswerContent">
		<div></div>
		<span>{{answer}}. {{memo}}</span>
	</div>
	<div class="examAnswerContent">
		<div></div>
		<span>C. 950万平方千米</span>
	</div>
	<div class="examAnswerContent">
		<div></div>
		<span>D. 960万平方千米</span>
	</div>
</div>
{{/.}}