{{#.}}
<li>
	<label class="label-checkbox item-content">
		<div class="item-inner">
			<div class="item-title"><span>{{userName}}</span>
			{{#compare deptName '!=' undefined}}
				<p class="color-gray" style="font-size: 15px;margin: 5px;">{{deptName}}</p>
			{{/compare}}
			</div>
		</div>
		<input type="checkbox" id='payBox' name="payBox" value="{{userId}}">
			<div class="item-media" style="padding-right: 15px;"><i class="icon icon-form-checkbox"></i></div>
	</label>
</li>
{{/.}}