{{#.}}
	<li>
		<a href="#" class="item-link item-content assessDeptContent">
			<div class="item-media">
				<i class="icon kpi-group"></i>
			</div>
			<div class="item-inner">
				<div class="item-title-row">
					<div class="item-title kpi-a-list-item-title">{{deptName}}</div>
				</div>
				<div class="kpi-a-list-item-subTitle"style="padding: 10px 0;padding-right: 20px;">
					<div>
						<i class="icon kpi-icon-people"></i>
						<span class="rankPeople">{{people}}</span>
					</div>
					<div>
						<i class="icon kpi-icon-count"></i>
						<span class="rankCount">{{count}}</span>
					</div>
					<div>
						<i class="icon kpi-icon-score"></i>
						<span class="rankPoint">{{point}}</span>
					</div>
				</div>
			</div>
		</a>
	</li>
{{/.}}