{{#.}}
<li style='chooseHard'>
	<li>
      <label class="label-radio item-content">
        <input type="radio" id='payBox' name="payBox" value="{{deptName}}">
        <div class="item-media">
          <i class="icon icon-form-radio"></i>
        </div>
        <div class="item-inner">
          <div class="item-title">{{deptName}}</div>
        </div>
      </label>
    </li>
</li>
{{/.}}