{{#.}}
	<li data-index="{{numbers}}">
		<div data-id="{{id}}"  class="link item-content party-content">
		    <div class="item-inner">
			    <div class="item-title-row">
				    <div class="item-title">{{name}}</div>
			    </div>
		    </div>
	   	</div>
    </li>
{{/.}}
<div class='thereAndNineBranch'></div>
