{{#.}}
	<div class="col-25 grid" data-id="{{toolUrl}}">
		<a>
			<!--{{#compare toolName '==' '消息提醒'}}
			<span class="appBadge bg-red assessmentBadge" style="top:-30px">2</span>
			{{/compare}}-->
			<img src="{{toolBasePath}}{{toolImgUrl}}" />
			<span style="font-size: 12px;">{{toolName}}</span>
		</a>
	</div>
{{/.}}