{{#.}}
	<li class="align-top" style="list-style: none;" >
					<div class="item-content">
						<div class="item-inner">
							<div class="item-title kp-label" style="margin-top: 3px;">{{buildName}}:</div>
							<div class="item-input" style="margin-left: -2px;">
								<div class=" weui_cells_form">
                    <div class="weui_cell ">
                      <div class="weui_cell_bd weui_cell_primary">
                        <div class="weui_uploader">
                          {{!-- <div class="weui_uploader_hd weui_cell">
                            <div class="weui_cell_bd weui_cell_primary">上传图片</div>
                            <div class="weui_cell_ft"></div>
                          </div> --}}
                          <div class="weui_uploader_bd kpiPicture">
                            <div class="weui_uploader_input_wrp" data-id="{{id}}">
                              <img src='' class='weui_uploader_input' />
                            </div>
                          </div>
                        </div>
                      </div>
                    </div>
                  </div>
							</div>
						</div>
					</div>
				</li>
{{/.}}