/**
     * 变量
 */

@phColor: #ddd;
.box-style() {
    position: relative;
    box-sizing: border-box;
    display: -webkit-box;
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    -webkit-justify-content: space-between;
    justify-content: space-between;
    -webkit-box-align: center;
    -ms-flex-align: center;
    -webkit-align-items: center;
    align-items: center;
}

.searchBox(@x) {
    position: fixed;
    display: none;
    right: 35px;
    top: @x;
    border: 1px #ddd solid;
    z-index: 1000000;
    background: white;
    width: calc(~"75% - 55px");
    width: -webkit-calc(~"75% - 55px");
    max-height: 200px;
    overflow: auto;
}

.boxUl {
    list-style: none;
    padding: 0;
    margin: 0;
}

.boxLi {
    border-bottom: 1px solid #ddd;
    padding: 5px;
    font-size: 18px;
}


/**
     * 样式表
 */

.demandHistoryTitle {
    .box-style();
    margin-top: 20px;
}

.dHTLine {
    border: 1px #ddd solid;
    margin-top: 1px;
    width: 25%;
}

.dHTitle {
    width: 50%;
    text-align: center;
    color: #777;
}

.deptNameBox {
    .searchBox(131px);
}

.testPaperBox {
    .searchBox(263px);
}

.topicBox {
    .searchBox(307px);
}

.deptNameBox ul,
.topicBox ul,
.testPaperBox ul {
    .boxUl();
}

.deptNameBox li,
.topicBox li,
.testPaperBox li {
    .boxLi();
}

.deptNameBox li:active,
.topicBox li:active,
.testPaperBox li:active {
    background: @phColor;
}