{{#.}}
<li>
	<label class="label-checkbox item-content">
		<div class="item-inner">
			<div class="item-title"><span>{{label}}</span>
			</div>
		</div>
		<input type="checkbox" id='payBox' name="payBox" value="{{deptId}}">
		<div class="item-media" style="padding-right: 15px;"><i class="icon icon-form-checkbox"></i></div>
	</label>
</li>
{{/.}}