{{#.}}
	<li>
		<div class="item-content empDetail">
			<div class="item-inner">
				<div class="item-title-row">
					<div class="item-title k-group-t">制定党员培训计划</div>
					<div class="item-after k-group-after">得分:10分</div>
				</div>
				<div class="item-subtitle k-group-sub">
					<span class="">更新时间:2016-11-11</span>
				</div>
			</div>
		</div>
	</li>
{{/.}}