{{#.}}
	<div class="" id="jobName">
		<div style="letter-spacing: 2px;">{{label}}</div>
		<div class="jobTime" >{{releaseTime}}</div>
	</div>
	<div class="card-content card-content-padding" id="salary">{{treatment}}/月</div>
	{{!-- <div class="card-footer">地址</div> --}}
{{/.}}