<ul>
	<li><input type='checkbox' id='cbx1' value='5'  stlyle='cursor:pointer;' checked=true /><b>10万元以上</b><div style='width:30px;height:10px;float:right;margin-top:5px;background:#FF0000;'></div><br/>
	</li>
</ul>