{{#.}}
	 <li class="item-content memoContent" data-applyCompany="{{deptName}}" data-eventName="{{eventName}}" data-eventId="{{id}}">
          <div class="item-inner">
            <div class="item-title">{{eventName}}</div>
          </div>
    </li>
     
    
{{/.}}