{{#.}}
	<li data-index="{{numbers}}">
		<div data-id={{id}} data-title={{catalogName}} class="link item-content party-content">
		    <div class="item-inner">
			    <div class="item-title-row">
				    <div class="item-title">{{catalogName}}</div>
			    </div>
		    </div>
	   	</div>
    </li>
{{/.}}
<div class='sideline'></div>
