{{#.}}
	<li>
		<div class="link item-content discuss-content">
			<div class="item-inner">
				<div class="userInfo-row item-subtitle" style="font-size: 14px; padding-top: 5px;">
					<div class="color-gray" style="font-size: 13px;">
						<span class="discussName">缴纳金额：</span>
						<span class="discussName color-orange">{{payDetailMoney}}元</span>
					</div>
					<div class="color-gray" style="font-size: 13px;">
						<span class="discussName ">{{payDetailDate}}</span>
					</div>
				</div>
				<div class="color-gray" style="font-size: 13px;">
					<span class="discussName">缴纳月份：</span>
					<span class="discussName color-orange">{{payDetailMonth}}</span>
				</div>
			</div>
		</div>
	</li>
{{/.}}
