{{#.}}
<li class="item-content">
	<div class="item-inner">
		<div class="item-title label">{{userName}}:</div>
		<div class="item-input">
        	<div class="subtitle">{{score}}分</div>
      	</div>
	</div>
</li>
{{/.}}