{{#.}}
<li>
	<div class="item-content">
		<div class="item-media media-avater">
			<img src="img/avater.png " />
		</div>
		<div class="item-inner ">
			<div class="item-title-row ">
				<div class="item-title ">{{name}}</div>
			</div>
			<div class="item-subtitle signSubtitle " style="padding-top: 5px; ">
				<span class=" ">缺勤日期：{{ts}}</span>
			</div>
		</div>
	</div>
</li>
{{/.}}