{{#.}}
	<li>
		<div class="link item-content -content">
			<div class="item-inner">
				<div class="discuss-row item-subtitle" style="padding: 3px 0px 0px 0px; text-align: center;">
					<div style="width: 15%;">{{scoreRank}}</div>
					<div style="width: 20%;">{{totalScore}}</div>
					<div style="width: 35%;padding: 0 3%;word-wrap: break-word;word-break: normal;white-space: normal;">{{userName}}</div>
					<div style="width: 30%;word-wrap: break-word;word-break: normal;white-space: normal;">{{deptName}}</div>
				</div>
			</div>
		</div>
	</li>
{{/.}}